// Add 'Display Fwd Rotation' module from KSPWheelRotation to stock KF-ALG
// Change order of modules to correct GUI structure in-game

@PART[KF-ALG-Small]:FOR[KerbalFoundries]
{
	// Copy adjustable gear module to bottom for GUI ordering purposes
	#/MODULE[KSPWheelAdjustableGear],5 {}
	
	// Remove original module
	-MODULE[KSPWheelAdjustableGear],0 {}

	MODULE,2
	{
		name = KSPWheelRotation
		wheelMeshName = ALG-Small-Wheel
		rotationAxis = 1, 0, 0
	}
}

@PART[KF-ALG-SmallSide]:FOR[KerbalFoundries]
{
	// Copy adjustable gear module to bottom for GUI ordering purposes
	#/MODULE[KSPWheelAdjustableGear],5 {}
	
	// Remove original module
	-MODULE[KSPWheelAdjustableGear],0 {}
	
	MODULE,2
	{
		name = KSPWheelRotation
		wheelMeshName = ALG-SmallSide-Wheel
		rotationAxis = 1, 0, 0
	}
}

@PART[KF-ALG-Medium]:FOR[KerbalFoundries]
{
	// Copy adjustable gear module to bottom for GUI ordering purposes
	#/MODULE[KSPWheelAdjustableGear],5 {}
	
	// Remove original module
	-MODULE[KSPWheelAdjustableGear],0 {}
	
	MODULE,2
	{
		name = KSPWheelRotation
		wheelMeshName = ALG-Medium-Wheel
		rotationAxis = 1, 0, 0
	}
}

@PART[KF-ALG-Large]:FOR[KerbalFoundries]
{
	// Copy adjustable gear module to bottom for GUI ordering purposes
	#/MODULE[KSPWheelAdjustableGear],5 {}
	
	// Remove original module
	-MODULE[KSPWheelAdjustableGear],0 {}

	MODULE,2
	{
		name = KSPWheelRotation
		wheelMeshName = ALG-Large-WheelSet-Front
		rotationAxis = 1, 0, 0
	}
}

